:root {
  --color-shadow: rgb(204 177 161 / 60%);
}

body {
  overflow-x: hidden;
}

#nexmoe-content .nexmoe-post-footer {
  background-color: transparent;
}

#nexmoe-content .nexmoe-post-copyright {
  background-color: transparent;
  color: #2bd5d7;
}

.nexmoe-post-copyright a {
  color: inherit;
}

iframe {
  width: 100% !important;
}

article ul li {
  line-height: 1.5rem;
}

article p {
  margin: 12px 0;
}

p > img {
  position: relative;
  width: 80%;
  left: 10%;
}